

.reviews-main {
    margin-top: 20px;
    margin-bottom: 100px;
}

.reviews-header-container {
    display: flex;
    justify-content: space-between;
}

.reviews-header-container > button {
    cursor: pointer;
    background-color: white;
    border: 1px solid #aaa;
    height: 50%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 7px;
    font-family: 'Inter';
    font-weight: 500;
}

.reviews-header-container > button:hover {
    background-color: black;
    color: white;
    border: none;
}

.user-review-main {
    display: flex;
    justify-content: flex-start;
    gap: 200px;
    padding: 15px;
    border-bottom: 1px solid #dbdbdb;
    position: relative;
}

.review {
    display: flex;
    flex-direction: column;
    width: 50%;
    /* border: 1px solid blue; */
}

.review-image {
    width: 300px;
    margin-top: 15px;
    max-height: 500px;
    border-radius: 11px;
}

.user-info-review {
    display: flex;
}

.stars-user-name {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-left: 10px;
}

.review-profile-image {
    height: 50px;
    width: 50px;
    border-radius: 14px;
    object-fit: cover;
    margin-right: 1rem;
}

.review-options-container  {
    position: absolute;
    right: 0;
}


.reviews-btns-container {
    display: flex;
}

.reviews-view-all-btn,
.write-a-review {
    background-color: #fafafa;
    border: 1px solid #aaa;
    cursor: pointer;
    height: 40px;
    font-family: 'Inter';
    border-radius: 7px;
    margin-right: 5px;
}

.reviews-view-all-btn:hover,
.write-a-review:hover {
    background-color: black;
    color: white;
}
